/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata'); */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru');

body {
    background-color: antiquewhite;
}

.update-form {
    background-color: antiquewhite;
}

h3 {
    font-family: 'Kiwi Maru', 'sans-serif';
    text-align: center;
}

a:link {
    text-decoration: none;
    }

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
  color: #d3d3d3;
}

.submit{
    background-color: #6BA3E8;
}

.centre-column{
    width:600px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.create {
    background-color: darkslategrey;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: azure;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-create{
    font-family: 'Kiwi Maru', 'sans-serif';
    background-color: coral;
    border-color: coral;
}

.btn-update{
    font-family: 'Kiwi Maru', 'sans-serif';
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    color: azure;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-delete{
    font-family: 'Kiwi Maru', 'sans-serif';
    background-color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    color: azure;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-danger{
    font-family: 'Kiwi Maru', 'sans-serif';
    background-color: red;
    border-color: red;
    color: azure;
    border-radius: 3px;
    width:600px;
    margin: 20px auto;
    padding:20px;
}
